* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: inline-block;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
    background-image: url('/images/nainoa-shizuru-NcdG9mK3PBY-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin: auto;

}
.keys {
    display: inline-block;
    margin: auto    ;
}

.key {
    border: 4px solid black;
    border-radius: 20px;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 0.07s;
    width: 100px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 5px black;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

kbd {
    display: inline-block;
    font-size: 40px;
}

.sound {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffc600;
}